@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" />
                <label asp-for="Input.Firstname"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                
                <label asp-for="Depart.Id" class="control-label mb-2">Department</label>
                <select asp-for="Depart.Id" asp-items="@Model.DepartmentNameSL" class="form-control valid" data-val="true" data-val-required="The Department field is required." aria-invalid="false">
                    <option selected disabled >---Choice a Department---</option>
                     
                </select>
                <span asp-validation-for="Depart.Id" class="text-danger"></span>
            </div>
        
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Create</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    
    </div>
</div>


