@model AppIdea.Areas.Identity.Data.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}




<div class="container">
    <h5 class="mt-4 mb-2 text-center">Details Categories</h5>

    <div class="row text-center">
        <div class="col-12 pl-4 pr-4 mt-5">
            <table class="table text-left mb-4">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>

                </tbody>
            </table>

            <a asp-action="Edit" class="btn btn-warning mt-2" asp-route-id="@Model?.Id">Edit</a> |

            <a asp-action="Index" class="btn btn-success mt-2">Back</a>

        </div>
    </div>
</div>
