@using Microsoft.AspNetCore.Identity
@using AppIdea.Areas.Identity.Data

@inject SignInManager<AppIdeaUser> SignInManager
@inject UserManager<AppIdeaUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application Post Idea</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppIdea.styles.css" asp-append-version="true" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

 
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Uploads/logogreenwich.png" class="bd-placeholder-img" width="200" height="100" role="img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Home</a>
                        </li>



                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                          
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-down"></i> Management</a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Comment" asp-action="Index">Comment</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Idea" asp-action="Index">Post Idea</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Topic" asp-action="Index">Topic</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Index">Department</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RoleView" asp-action="Index">Role</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">User</a>
                         
                                  
                                  </div>
                            </li>

                           
                        }

                        
                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-uppercase" asp-area="" asp-controller="PostIdea" asp-action="Create"><i class="bi bi-vector-pen"></i> Post The Idea</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark text-uppercase" asp-area="" asp-controller="Submission" asp-action="Index"><i class="bi bi-people"></i> Staff Submission</a>
                            </li>
                        }

                        @if(User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-uppercase" asp-area="" asp-controller="Static" asp-action="ShowData">Statistic</a>
                            </li>
                        }


                        
                    </ul>
                </div>
                <form asp-controller="Home" asp-action="Index" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                    <input name="nameIdea" type="search" class="form-control" placeholder="Search...idea" aria-label="Search">
                </form>
                 
               
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
         
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                        Hà Nội
                    </h5>
                    <hr />
                    <p> 
                        
                        Tòa nhà Golden Park, Số 2 Phạm Văn Bạch, Yên Hòa, Cầu Giấy, Hà Nội

                     </p>
                    <p>
                        Hotline: 0971.274.545 - 0981.558.080
                        Điện thoại: 024.7300.2266
                    </p>

                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                        Hồ Chí Minh
                    </h5>
                    <hr />
                    <p>
                        Số 20 Cộng Hòa, Phường 12, Quận Tân Bình, TP.HCM
                        Hotline: 0933.108.554 - 0971.294.545
                        Điện thoại: 028.7300.2266
                    </p>

                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                        Đà Nẵng
                    </h5>
                    <hr />
                    <p>
                        Cơ sở 1: 658 Ngô Quyền, An Hải Bắc, Sơn Trà, Đà Nẵng
                        Cơ sở 2: Toà nhà FPT, đường số 1, KCN An Đồn, An Hải Bắc, Sơn Trà, Đà Nẵng
                    
                    </p>
                    <p>
                         Hotline: 0934.892.687
                        Điện thoại: 0236.730.2266
                    </p>

                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                        Cần Thơ
                    </h5>
                    <hr />
                    <p>
                        Cơ sở 1: 658 Ngô Quyền, An Hải Bắc, Sơn Trà, Đà Nẵng
                        Cơ sở 2: Toà nhà FPT, đường số 1, KCN An Đồn, An Hải Bắc, Sơn Trà, Đà Nẵng
                        
                    </p>
                    <p>
                        Hotline: 0934.892.687
                        Điện thoại: 0236.730.2266
                    </p>

                </div>
               
            </div>   
            </div>

           
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

